
@media  screen and (max-width: 768px) {
      
    .container {
        margin: auto;
    }

    .header-telephone {
        display: none;
    }

    .hero-nav-list {
        display: none;
    }

    .hero-content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 0;
        
    }

    .hero-img-carpet {
        width: 368px;
        height: 473px;
    }
 
    .btn {
        width: 141px;
        padding: 15px 22px;
        font-size: 15px;
        line-height: 1.13;
    }

    .eva {
        margin-top: 50px;
    }

    .eva h2 {
        margin-bottom: 48px;
        font-size: 40px;
        line-height: 1.17;
    }

    .eva-card-wrapper {
        flex-direction: column;
    }

    .card:nth-child(-n+2) {
        margin-bottom: 61px;
    }

    .card {
        max-width: 594px;
        margin-bottom: 124px;
    }

    .card-img {
        width: 626px;
        height: 189px;
    }

    .feedback {
        overflow: visible;
        padding: 37px 115px 72px;
    }

    .feedback-cards-wrapper {
        flex-direction: column;
    }

    .feedback-card {
        display: flex;
        justify-content: center;
    }

    .feedback-card:nth-child(-n+2) {
        margin-bottom: 49px;
    }

    .feedback-first, 
    .feedback-third {
        left: 0;
    }

    .feedback-first:hover,
    .feedback-third:hover {
        transform: scale(1.5) translate(0);
        transform-origin: center;
    }

    .feedback-img img {
        margin-left: 380px;
    }

    .feedback-second:hover {
        z-index: 1;
    }

    .footer {
        padding: 95px 0 41px;
    }

    .footer-container {
        padding: 0 45px;
    }

    .footer-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    /* Form */

    .form-page {
        margin: 0;
        padding: 0;
    }

    .form-page-bcg {
        width: 768px;
        height: 0;
    }

   

    .form-page-bcg::before {
        content: "";
        display: block;
        position: absolute;
        width: 768px;
      }

    .form-content {
        margin: 302px 65px;
        width: 635px;
        height: 401px;
    }

     .form-title {
        width: 432px;
        margin-left: -105px;
        margin-bottom: 6px;
    }

    .field-data {
        flex-direction: column;
    }

    .field {
        width: 432px;
        height: 41px;
    }

    .field:nth-child(1){
        margin-bottom: 20px;
    }

    .field-text {
        margin: 20px 0 20px -115px;
        height: 95px;
    }

}

/* @media  screen and (max-width: 320px)  */





